<header>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
    <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="btn btn-light action-button" role="button" id="login" href="login">تسجيل الدخول</a></li>
                <li class="nav-item"><a class="btn btn-light action-button" role="button" id="register" href="register">إنشاء حساب</a></li>
                <li class="nav-item"><a class="link" href="about-us"  style="text-decoration: none;">حول موثوق</a></li>
                <li class="nav-item"><a class="link" href="contact" style="text-decoration: none;">تواصل معنا</a></li>
            </ul>
        </div>
      <a href="#" target="_blank"> <img class ="img" src="assets/img/Icon1-02-300x300.png" /> </a>
    </div>
</nav>
</header>