<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Create" method="POST">
        
        <input type="text" name="nm" placeholder="nm">
        <!-- <input type="text" name="category" placeholder="category">
        <input type="text" name="desc" placeholder="description">
        <input type="text" name="low_w" placeholder="wilaya">
        <input type="text" name="low_t" placeholder="baladia">
        <input type="text" name="low_s" placeholder="street">
        <input type="text" name="br_number" placeholder="registre commerce">
        <input type="number" name="phone" placeholder="phone">
        <input type="text" name="email" placeholder="email">
        <input type="number" name="rater" placeholder="rater">
        <input type="number" name="rating" placeholder="rating"> -->
        <input type="submit" value="la" name="" id="">
    </form>
    
</body>
</html>