<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="300x300"
      href="assets/img/Icon1-02-300x300.png"
    />
    <link rel="stylesheet" href="assets/css/auth.css" />
    <script src="https://kit.fontawesome.com/cd80b326fb.js" crossorigin="anonymous"></script>
    <script src="assets/js/auth.js"></script>
    <title>سجل الدخول | نسيت كلمة المرور</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>إعادة ضبط كلمة المرور</h1>
      </div>


      <div id="login-form">
          <div  id="actionElement" class="info">
            <form action="/password-reset" class="passwordReset">
                <h3>أدخل بريدك الإلكتروني لإعادة ضبط كلمة المرور</h3>
                <input type="email" id="email" name="email" placeholder="البريد الإلكتروني" required>
                <div class="err" ></div>
                <button class="submitBtn" type="submit" >ابحث </button>
            </form>
                
            </div>
            <div id="response"></div>
          </div>
          
      </div>

    </div>
    <script>
        
        const form = document.querySelector('.passwordReset');
        var error = document.querySelector('.err');
        var submitBtn = document.querySelector('.submitBtn')
        var changePwd = "";
        var response = document.getElementById('response')


        form.addEventListener('submit',async (e) => {
            e.preventDefault();
            console.log('ed')
              var email = document.getElementById('email').value
              console.log(email)
                      const res = await fetch('/sendPasswordResetEmail', {
                          method: "POST",
                          body:JSON.stringify({ email }),
                          headers: {'content-type': 'application/json'}
            
                      })
                      const data = await res.json();
                      
                     
                      if(data.done == true){
                          console.log(data)
                          response.innerHTML ='تفقد بريدك الإلكتروني'
                          //user.innerHTML = "<h2>تأكيد الحساب</h2><div class='p' style='display: flex;flex-direction: row-reverse;'><p> هل أنت </p><strong> " + data.User.name  +" </strong><p>؟</p></div><div class='resetBtn'><button onclick='changePass(" + data.User.email +")' id='changePwd'>تغيير كلمة المرور</button><button id='notMe'>لا لست أنا</button></div>"
                      }
                      if(data.done == false){
                          console.log(data)
                          response.innerHTML ='خطأ '
                          //user.innerHTML = "<h2>تأكيد الحساب</h2><div class='p' style='display: flex;flex-direction: row-reverse;'><p> هل أنت </p><strong> " + data.User.name  +" </strong><p>؟</p></div><div class='resetBtn'><button onclick='changePass(" + data.User.email +")' id='changePwd'>تغيير كلمة المرور</button><button id='notMe'>لا لست أنا</button></div>"
                      }

                              if(data.error){
                      console.log('sssaa')

                                  console.log(data)
                                  //user.innerHTML = "<h2>تأكيد الحساب</h2><div class='p' style='display: flex;flex-direction: row-reverse;'><p> هل أنت </p><strong> " + data.User.name  +" </strong><p>؟</p></div><div class='resetBtn'><button onclick='changePass(" + data.User.email +")' id='changePwd'>تغيير كلمة المرور</button><button id='notMe'>لا لست أنا</button></div>"
                              }

                        
                    }
         )
        

        
    </script>
  </body>
</html>