<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="assets/css/store.css">
   <script src="https://kit.fontawesome.com/cd80b326fb.js" crossorigin="anonymous"></script>
  
    <title>Document</title>
</head>
<body>
    <div class="header">

    </div>

    <!-- ----  store head --- -->
    <div class="storeHead">
            
            <div class="bgimage">
                <!--  -->
                <!-- <div id="gradient"></div> -->
                <div id="particles-js"></div>
            </div>
            <div class="storeinfo">
                <div class="profileimg">
                    <img src="assets/img/starbucks-franchise.jpeg" alt="profileImg" srcset="">
                </div>
                <div class="profileinfo">
                    <h1>Jumia</h1>
                    <div class="rating">
                        <i class="fas fa-solid fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <p>50</p>
                        <p>مقيم</p>
                    </div>
                    <h3><i class="fa fa-map-marker"></i>  Jumia Algerie, Rue Ahmed Ouaked, Dely Brahim, Alger</h3>
                </div>
                <div class="profileactions">
                    <button id="shareBtn"> <i class="fa fa-share"></i> <span>مشاركة</span> </button>
                    <button id="rateBtn"> <i class="fas fa-star"></i> <span>تقييم</span>  </button>
                    <button id="reclamation"> <i class="fa fa-exclamation-circle"></i><span> تقديم بلاغ </span></button>
                </div>
            </div>
            
    </div>

    <!-- --- store body --- -->
    <div class="main">
    <!-- --- main body --- -->
    <div class="mainBody">
        <!-- --- description --- -->
        <div class="description card">
            <h1>وصف العمل</h1>
            <p>تتكون المادة الوراثية من ADN (حمض نووي ريبوزي ناقص أوكسجين). وتتشكل من حمض فوسفوري وسكر ريبوزي ناقص أكسجين وقواعد آزوتية (أدنين (A) و تيمين (T) و سيتوزين (C) وغوانين (G)). يمتل ترابط حمض فوسفوري وسكر ريبوزي ناقص أكسجين وقاعدة آزوتية نيكليوتيدا. تترابط النيكليوتيدات فيما بينها مشكلة سلسلة نيكليوتيدية. وحسب تكامل القواعد الآزوتية (A مع T  و C مع G ) تترابط سلسلتين نيكليوتيديتين مشكلتين جزيئة ADN .</p>
        </div>
        <!-- --- infprmation --- -->
        <div class="infos card">
            <h1>معلومات عن العمل</h1>
            <div class="phone info">077777777<i class="fa fa-phone"></i></div>
            <div class="email info">noreply@google.com<i class="fa fa-envelope"></i></div>
            <div class="webSite info">www.google.com <i class="fa fa-globe"></i></div>
            <div class="phone info">Dubai Center, Babzouar, Alger<i class="fa fa-map-marker"></i></div>
            <h2>تابعونا</h2>
            <div class="social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-youtube"></i>
            </div>
        </div>
        <!-- --- location --- -->
        <div class="location card">
            <h1>الموقع</h1>
            <div class="storeLocation"></div>
        </div>
        <!-- --- rating --- -->
        <div class="ratings card">
            <div class="rate">
                <h2>4.2</h2>
                <h3>مقيم لهذا العمل <span>50</span></h3>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="services">
                <div class="service">
                    <p>الخدمة</p>
                    <div class="level">
                        <div class="sousLevel" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="service">
                    <p>الخدمة</p>
                    <div class="level">
                        <div class="sousLevel" style="width: 10%;"></div>
                    </div>
                </div>
                <div class="service">
                    <p>الخدمة</p>
                    <div class="level">
                        <div class="sousLevel" style="width: 30%;"></div>
                    </div>
                </div>
                <div class="service">
                    <p>الخدمة</p>
                    <div class="level">
                        <div class="sousLevel" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- --- comments --- -->

        <div class="comments card">
            <h1>اراء الناس</h1>
            <div class="comment">
                <div class="commentHeader">
                    <div class="commentProfile">
                        <img src="assets/img/starbucks-franchise.jpeg" alt="">
                        <div class="commentMsg">
                            <h2>جمال بلماضي</h2>
                            <p>25/07/2022</p>
                        </div>
                    </div>
                    <div class="commentRate">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h3>4.2</h3>

                    </div>
                </div>
                <div class="commentText">
                    تتكون المادة الوراثية من ADN (حمض نووي ريبوزي ناقص أوكسجين). وتتشكل من حمض فوسفوري وسكر ريبوزي ناقص أكسجين وقواعد آزوتية (أدنين (A) و تيمين (T) و سيتوزين (C) وغوانين (G)). يمتل ترابط حمض فوسفوري وسكر ريبوزي ناقص أكسجين وقاعدة آزوتية نيكليوتيدا. تترابط النيكليوتيدات فيما بينها مشكلة سلسلة نيكليوتيدية. وحسب تكامل القواعد الآزوتية (A مع T  و C مع G ) تترابط سلسلتين نيكليوتيديتين مشكلتين جزيئة ADN .
                </div>
            </div>

            <div class="comment">
                <div class="commentHeader">
                    <div class="commentProfile">
                        <img src="assets/img/starbucks-franchise.jpeg" alt="">
                        <div class="commentMsg">
                            <h2>جمال بلماضي</h2>
                            <p>25/07/2022</p>
                        </div>
                        
                    </div>
                    <div class="commentRate">
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h3>4.2</h3>

                    </div>
                </div>
                <div class="commentText">
                    تتكون المادة الوراثية من ADN (حمض نووي ريبوزي ناقص أوكسجين). وتتشكل من حمض فوسفوري وسكر ريبوزي ناقص أكسجين وقواعد آزوتية (أدنين (A) و تيمين (T) و سيتوزين (C) وغوانين (G)). يمتل ترابط حمض فوسفوري وسكر ريبوزي ناقص أكسجين وقاعدة آزوتية نيكليوتيدا. تترابط النيكليوتيدات فيما بينها مشكلة سلسلة نيكليوتيدية. وحسب تكامل القواعد الآزوتية (A مع T  و C مع G ) تترابط سلسلتين نيكليوتيديتين مشكلتين جزيئة ADN .
                </div>
            </div>

        </div>

        <!-- --- feedback --- -->

        <div class="feedback card">
            <h1>أترك تعليقا</h1>
            <div class="feedback-content">
            
            <form action="">
                
                <div class="rating-sections">
                <div class="quality">
                    <p>الجودة</p>
                    <div class="ratingQuality rateStar">
                        <input type="radio" name="quality" value="5" id="q5"><label for="q5">☆</label>
                        <input type="radio" name="rating" value="4" id="q4"><label for="q4">☆</label>
                        <input type="radio" name="rating" value="3" id="q3"><label for="q3">☆</label>
                        <input type="radio" name="rating" value="2" id="q2"><label for="q2">☆</label>
                        <input type="radio" name="rating" value="1" id="q1"><label for="q1">☆</label>
                    </div>
                </div>

                <div class="quality">
                    <p>الجودة</p>
                    <div class="ratingQuality rateStar">
                        <input type="radio" name="deliver" value="5" id="d5"><label for="d5">☆</label>
                        <input type="radio" name="deliver" value="4" id="d4"><label for="d4">☆</label>
                        <input type="radio" name="deliver" value="3" id="d3"><label for="d3">☆</label>
                        <input type="radio" name="deliver" value="2" id="d2"><label for="d2">☆</label>
                        <input type="radio" name="deliver" value="1" id="d1"><label for="d1">☆</label>
                    </div>
                </div>

                <div class="quality">
                    <p>الجودة</p>
                    <div class="ratingQuality rateStar">
                        <input type="radio" name="speed" value="5" id="s5"><label for="s5">☆</label>
                        <input type="radio" name="speed" value="4" id="s4"><label for="s4">☆</label>
                        <input type="radio" name="speed" value="3" id="s3"><label for="s3">☆</label>
                        <input type="radio" name="speed" value="2" id="s2"><label for="s2">☆</label>
                        <input type="radio" name="speed" value="1" id="s1"><label for="s1">☆</label>
                    </div>
                </div>

                <div class="quality">
                    <p>الجودة</p>
                    <div class="ratingQuality rateStar">
                        <input type="radio" name="happy" value="5" id="h5"><label for="h5">☆</label>
                        <input type="radio" name="happy" value="4" id="h4"><label for="h4">☆</label>
                        <input type="radio" name="happy" value="3" id="h3"><label for="h3">☆</label>
                        <input type="radio" name="happy" value="2" id="h2"><label for="h2">☆</label>
                        <input type="radio" name="happy" value="1" id="h1"><label for="h1">☆</label>
                    </div>
                </div>
                </div>
                <div class="somme">
                    <h2>مجموع التقييمات</h2>
                    <h3>4.3</h3>
                </div>
                <div class="rating-text">
                    <textarea name="" id="" placeholder="أكتب تعليقا.." rows="10"></textarea>
                    <input type="submit" value="إرسال">
                </div>

            </form>
        </div>
            
        </div>
    </div>
    <!-- --- margin body --- -->
    <div class="marginBody">
        <!-- --- rating --- -->
        <div class="ratings card">
            <div class="rate">
                <h2>4.2</h2>
                <h3>مقيم لهذا العمل <span>50</span></h3>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="services">
                <div class="service">
                    <p>الخدمة</p>
                    <div class="level">
                        <div class="sousLevel" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="service">
                    <p>الخدمة</p>
                    <div class="level">
                        <div class="sousLevel" style="width: 10%;"></div>
                    </div>
                </div>
                <div class="service">
                    <p>الخدمة</p>
                    <div class="level">
                        <div class="sousLevel" style="width: 30%;"></div>
                    </div>
                </div>
                <div class="service">
                    <p>الخدمة</p>
                    <div class="level">
                        <div class="sousLevel" style="width: 60%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message card">
            <h1>تواصل مع المتجر</h1>
            <div class="messageHeader">
                <img src="assets/img/starbucks-franchise.jpeg" alt="">
                <div class="messageHeaderContent">
                    <h2>Jumia</h2>
                    <p>سوق تجارية</p>

                </div>
            </div>

            <form action="">
                <input type="text" name="name" placeholder="الاسم">
                <input type="text" name="email" placeholder="البريد الإلكتروني">
                <textarea id="message-id" class="field" placeholder="أكتب رسالتك هنا" rows="5" cols="30"></textarea>
                <input type="submit" value="ارسال">
            </form>
        </div>
    </div>
</div>

    <script src="assets/js/particlesJs/particles.js"></script>
    <script src="assets/js/particlesJs/app.js"></script>
    
</body>
</html>